In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
import numpy as np

# Import our input dataset
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
#Target variable is "Is Successful"=1
# Features are Application Type, Affiliation, Organization, Use Case, Income Amount,Special Considerations, Ask Amount 
#Neither and to be dropped - Name, EIN, special consideration
charity_df = charity_df.drop(columns = ["NAME", "EIN", "SPECIAL_CONSIDERATIONS"])
charity_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
charity_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [4]:
charity_df["AFFILIATION"].value_counts()

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [5]:
charity_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
         ...
C3200        2
C1256        2
C1246        2
C1234        2
C1283        1
C1245        1
C1732        1
C8210        1
C2561        1
C2170        1
C3700        1
C1728        1
C2500        1
C1370        1
C1570        1
C4200        1
C2570        1
C6100        1
C4120        1
C1248        1
C1236        1
C2380        1
C1820        1
C1900        1
C2190        1
C5200        1
C2600        1
C1580        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
charity_df["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [7]:
charity_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
ask_amt = charity_df["ASK_AMT"].value_counts()

In [9]:
ask_amt

5000        25398
10478           3
15583           3
6725            3
63981           3
90834           2
8181            2
27159           2
6960            2
43814           2
8746            2
15039           2
6920            2
32141           2
60000           2
9537            2
5006            2
27944           2
7287            2
238933          2
16435           2
195661          2
17614           2
5894            2
7003            2
46327           2
9255            2
5706            2
32807           2
17010           2
            ...
63722           1
250095          1
14578           1
98565           1
53569816        1
1044779         1
49453           1
10544           1
590133          1
762177          1
4045122         1
715080          1
121166          1
348511          1
78195           1
768386          1
846216          1
801170          1
67988           1
151967          1
63914           1
806737          1
266679          1
498118          1
59848           1
772556          1
70103           1
27096           1
25049           1
1138700         1
Name: ASK_AMT, Length: 8747, dtype: int64

In [10]:
charity_df["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [11]:
classification = charity_df["CLASSIFICATION"].value_counts()

# Determine which values to replace
replace_class = list(classification[classification < 30].index)

# Replace in DataFrame
for classification in replace_class:
    charity_df.CLASSIFICATION = charity_df.CLASSIFICATION.replace(classification,"Other")


# Check to make sure binning was successful
charity_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
Other      227
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [12]:
charity_df["USE_CASE"].value_counts()

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [13]:
charity_categoricals = charity_df.dtypes[charity_df.dtypes=="object"].index.tolist()
charity_categoricals

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(charity_df[charity_categoricals]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(charity_categoricals)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
charity_df = charity_df.merge(encode_df,left_index=True, right_index=True)
charity_df = charity_df.drop(charity_categoricals,1)
charity_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = charity_df["IS_SUCCESSFUL"].values
X = charity_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 24)                1560
_________________________________________________________________
dense_1 (Dense)              (None, 12)                300
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 13
=================================================================
Total params: 1,873
Trainable params: 1,873
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Train on 25724 samples
Epoch 1/50
25724/25724 [==============================] - 4s 140us/sample - loss: 0.5901 - accuracy: 0.7122
Epoch 2/50
25724/25724 [==============================] - 3s 114us/sample - loss: 0.5563 - accuracy: 0.7311
Epoch 3/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5511 - accuracy: 0.7327
Epoch 4/50
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5492 - accuracy: 0.7328
Epoch 5/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5471 - accuracy: 0.7336
Epoch 6/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5469 - accuracy: 0.7332 - l
Epoch 7/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5452 - accuracy: 0.7347
Epoch 8/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5446 - accuracy: 0.7351
Epoch 9/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5439 - accuracy: 0.7345
Epoch 10/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5432 - accuracy: 0.7370
Epoch 11/50
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5427 - accuracy: 0.7368
Epoch 12/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5424 - accuracy: 0.7365
Epoch 13/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5421 - accuracy: 0.7363 - loss: 0.541
Epoch 14/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5411 - accuracy: 0.7377 - los
Epoch 15/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5414 - accuracy: 0.7371 - loss: 0.5400
Epoch 16/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5406 - accuracy: 0.7377 - loss: 0.5387 - accura
Epoch 17/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5405 - accuracy: 0.7376
Epoch 18/50
25724/25724 [==============================] - 3s 112us/sample - loss: 0.5404 - accuracy: 0.7375
Epoch 19/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5403 - accuracy: 0.7376 - loss: 0.5415
Epoch 20/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5402 - accuracy: 0.7383
Epoch 21/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5399 - accuracy: 0.7385
Epoch 22/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5395 - accuracy: 0.7377
Epoch 23/50
25724/25724 [==============================] - 3s 116us/sample - loss: 0.5397 - accuracy: 0.7374
Epoch 24/50
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5392 - accuracy: 0.7371
Epoch 25/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5390 - accuracy: 0.7381
Epoch 26/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5387 - accuracy: 0.7374
Epoch 27/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5388 - accuracy: 0.7388
Epoch 28/50
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5391 - accuracy: 0.7384
Epoch 29/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5388 - accuracy: 0.7395
Epoch 30/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5389 - accuracy: 0.7392
Epoch 31/50
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5382 - accuracy: 0.7386
Epoch 32/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5385 - accuracy: 0.7388
Epoch 33/50
25724/25724 [==============================] - 3s 105us/sample - loss: 0.5380 - accuracy: 0.7390 - loss: 0.5385 - accura
Epoch 34/50
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5379 - accuracy: 0.7397
Epoch 35/50
25724/25724 [==============================] - 3s 124us/sample - loss: 0.5379 - accuracy: 0.7392
Epoch 36/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5379 - accuracy: 0.7395
Epoch 37/50
25724/25724 [==============================] - 4s 153us/sample - loss: 0.5376 - accuracy: 0.7394
Epoch 38/50
25724/25724 [==============================] - 3s 132us/sample - loss: 0.5377 - accuracy: 0.7388
Epoch 39/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5373 - accuracy: 0.7397
Epoch 40/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5371 - accuracy: 0.7389
Epoch 41/50
25724/25724 [==============================] - 3s 111us/sample - loss: 0.5374 - accuracy: 0.7402
Epoch 42/50
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5371 - accuracy: 0.7400
Epoch 43/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5372 - accuracy: 0.7403
Epoch 44/50
25724/25724 [==============================] - 3s 107us/sample - loss: 0.5372 - accuracy: 0.7393
Epoch 45/50
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5369 - accuracy: 0.7396
Epoch 46/50
25724/25724 [==============================] - 3s 130us/sample - loss: 0.5368 - accuracy: 0.7405
Epoch 47/50
25724/25724 [==============================] - 3s 106us/sample - loss: 0.5369 - accuracy: 0.7403
Epoch 48/50
25724/25724 [==============================] - 3s 113us/sample - loss: 0.5370 - accuracy: 0.7393
Epoch 49/50
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5367 - accuracy: 0.7404
Epoch 50/50
25724/25724 [==============================] - 3s 122us/sample - loss: 0.5362 - accuracy: 0.7397
8575/1 - 1s - loss: 0.5470 - accuracy: 0.7270
Loss: 0.5553308747600189, Accuracy: 0.7269970774650574